# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    v1.docs.serverless.com
#
# Happy Coding!

service: serverless-aws-lambda-ts-examples

provider:
  name: aws
  runtime: nodejs4.3

# you can overwrite defaults here
defaults:
 stage: prod
 region: eu-central-1

# you can add packaging information here
package:
 include:
   - lib
   - node_modules
 exclude:
   - package.json
#  artifact: my-service-code.zip

functions:
  serverlessAWSLambdaTS:
    handler: lib/handler.handleIt
    memory: 128
    timeout: 5

#   you can add any of the following events
#   events:
#     - http:
#         path: users/create
#         method: get
#     - s3: ${bucket}
#     - schedule: rate(10 minutes)
#     - sns: greeter-topic

# you can add CloudFormation resource templates here
#resources:
#  Resources:
#    NewResource:
#      Type: AWS::S3::Bucket
#      Properties:
#        BucketName: my-new-bucket
#  Outputs:
#     NewOutput:
#       Description: "Description for the output"
#       Value: "Some output value"
